.form {
  width: 100%;

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin-inline: -15px;
  }

  &__col {
    flex: 0 0 100%;
    padding-inline: 15px;
    padding-block: 10px 20px;
  }

  &__field {
    width: 100%;
    position: relative;

    &.invalid {
      .form__invalid-message {
        transform: translateY(100%);
        opacity: 1;
      }
    }

    &--checkbox {
      display: flex;

      input[type='checkbox'] {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }
    }

    &-radio-group {
      input {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__field-name {
    margin-bottom: 10px;
  }

  &__invalid-message {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    font-size: 12px;
    color: var(--baseRed);
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease;
  }

  &__input {
    width: 100%;
    padding: 10px 20px;
    position: relative;
    z-index: 10;
    border: 1px solid #c6c6c6;
    border-radius: px(30);
    transition: all .3s ease;

    &:focus {
      border-color: var(--baseRed);
    }
  }

  &__submit {
    padding: 10px 30px;
    border: 1px solid #000;
  }
}
