<div class="stepper__head">
  <div class="stepper__head-row">
    <div class="stepper__head-col">
      <button class="stepper__prev-step-btn prev-step hide" type="button">
        {{ macro.icon('arrow-left') }}
      </button>
    </div>
    <div class="stepper__head-col">
      {{ macro.logo() }}
    </div>
    <div class="stepper__head-col">
      <div class="counter hide">
        <span class="counter__current">1</span>
        <span class="counter__sep">/</span>
        <span class="counter__total">5</span>
      </div>
    </div>
  </div>
</div>
