<div class="step active">
  <div class="step__content">
    <div class="step__pretitle step__pretitle--with-icon">
      <img src="img/content/icon-smile.png" alt="smile">
      <p>Congrats !</p>
    </div>
    <div class="step__title">
      Your success story <br> starts here!
    </div>
    <p class="step__text">
      We worked for five years to create perfect quiz - a quiz that would give us all the information we need to <b>write
        the perfect personalized wellness book, ONLY FOR YOU</b>.<br>
      Remember, your answers will determine the outcome of this book, so be honest and read every question carefully.
    </p>
  </div>
  <div class="step__buttons">
    <button class="btn primary-btn init-quiz" type="button">
      <span>Got it</span>
    </button>
  </div>
</div>
