<div class="step">
  <div class="step__content">
    <div class="step__pretitle">
      <img src="img/content/icon-smile.png" alt="smile">
      Just write you email address
      <br>
      and we will communicate with you ;)
    </div>
    <div class="form">
      <div class="form__row">
        <div class="form__col">
          <div class="form__field">
            <input class="form__input" type="email" name="email" id="email" placeholder="Enter you email address">
            <span class="form__invalid-message">Oh, sorry. That address is incorrect, just check and try again ;)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="step__buttons">
    <button class="btn primary-btn end-quiz" type="submit">
      <span>Finish</span>
    </button>
  </div>
</div>
