<div class="step">
  <div class="step__content">
    <div class="step__title">How often do you feel stressed out?</div>
  </div>
  <div class="step__buttons">
    <label class="btn primary-btn next-step step__label">
      <span>On a daily basis </span>
      <input type="radio" name="sleep_time" value="On a daily basis ">
    </label>
    <label class="btn primary-btn next-step step__label">
      <span>Few times a week </span>
      <input type="radio" name="sleep_time" value="Few times a week ">
    </label>
    <label class="btn primary-btn next-step step__label">
      <span>Rarely</span>
      <input type="radio" name="sleep_time" value="Rarely">
    </label>
    <label class="btn primary-btn next-step step__label">
      <span>Never</span>
      <input type="radio" name="sleep_time" value="Never">
    </label>
  </div>
</div>
