{% set conditions = [
  'pasta',
  'potato',
  'rice',
  'i hate it all',
] %}

<div class="step">
  <div class="step__content">
    <div class="step__title">Select any of the following health conditions/diseases you have/have had.</div>
    <ul class="checkbox-group">
      {% for condition in conditions %}
        <li>
          <label class="btn secondary-btn step__label">
            <input
              class="checkbox {{ condition == 'i hate it all' ? 'reset-checkboxes' : '' }}"
              type="checkbox"
              name="conditions_diseases" value="{{ condition }}">
            {{ condition !=  'i hate it all' ? macro.icon(condition) : '' }}
            <span>{{ condition }}</span>
            <span class="bg"></span>
          </label>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="step__buttons">
    <button class="btn primary-btn next-step" type="button">
      <span>Next</span>
    </button>
  </div>
</div>
