<div class="step">
  <div class="step__content">
    <div class="step__title">How many hours do you usually sleep?</div>
  </div>
  <div class="step__buttons">
    <label class="btn primary-btn next-step step__label">
      <span>More than 8 hours</span>
      <input type="radio" name="sleep_time" value="More than 8 hours">
    </label>
    <label class="btn primary-btn next-step step__label">
      <span>7-8 hours</span>
      <input type="radio" name="sleep_time" value="7-8 hours">
    </label>
    <label class="btn primary-btn next-step step__label">
      <span>5-6 hours</span>
      <input type="radio" name="sleep_time" value="5-6 hours">
    </label>
    <label class="btn primary-btn next-step step__label">
      <span>Fewer than 5 hours</span>
      <input type="radio" name="sleep_time" value="Fewer than 5 hours">
    </label>
  </div>
</div>
