<div class="step">
  <div class="step__content">
    <div class="step__title">Do you work night shifts?</div>
  </div>
  <div class="step__buttons">
    <label class="btn primary-btn next-step step__label">
      <span>Yes</span>
      <input type="radio" name="sleep_time" value="Yes">
    </label>
    <label class="btn primary-btn next-step step__label">
      <span>Sometimes</span>
      <input type="radio" name="sleep_time" value="Sometimes">
    </label>
    <label class="btn primary-btn next-step step__label">
      <span>No</span>
      <input type="radio" name="sleep_time" value="No">
    </label>
  </div>
</div>
