<div class="step">
  <div class="step__content">
    <div class="step__title">Do you consume alcohol?</div>
  </div>
  <div class="step__buttons">
    <label class="btn primary-btn next-step step__label">
      <span>More than once a week</span>
      <input type="radio" name="sleep_time" value="More than once a week">
    </label>
    <label class="btn primary-btn next-step step__label">
      <span>Once a week</span>
      <input type="radio" name="sleep_time" value="Once a week">
    </label>
    <label class="btn primary-btn next-step step__label">
      <span>Only on special occasions</span>
      <input type="radio" name="sleep_time" value="Only on special occasions">
    </label>
    <label class="btn primary-btn next-step step__label">
      <span>Never</span>
      <input type="radio" name="sleep_time" value="Never">
    </label>
  </div>
</div>
