
<!-- GLOBAL MENU ===================================================-->
<!-- END GLOBAL MENU ===================================================-->
<!-- Svg icon -->
<!-- Image -->
<!-- Breadcrumbs - "items" has to be array--><!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta content="true" name="HandheldFriendly">
    <meta content="width" name="MobileOptimized">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="keywords" content="Home Page">
    <meta name="description" content="Home Page"><!-- inject:font preload --><!-- endinject -->
    <meta name="it-rating" content="it-rat-fa9ef9f8c2095cc94c5d33de60ee9bb3"><!-- inject:critical --><!-- endinject -->
    <!-- pwa config tags-->
    <!-- CSS// - $('head').append($('<link rel="stylesheet" type="text/css" />').attr('href', 'your stylesheet url')); // TODO check
    -->
    <link rel="preload" href="css/app.min.css" as="style" onload="this.rel='stylesheet'">
    <!--link(rel="preload stylesheet" type='text/css' href="css/app.min.css" as="style")-->
    <!-- IE Support--><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
  </head>
  <body class="error-page">
    <div class="wrapper">
      <header class="header">
        <div class="header__wrap">
          <div class="container">
            <div class="header">
              <div class="header__menu">
                <!-- GLOBAL MENU ===================================================-->
                <!-- END GLOBAL MENU ===================================================-->
                <!-- Svg icon -->
                <!-- Image -->
                <!-- Breadcrumbs - "items" has to be array-->
                <ul class="nav">
                  <li class="nav__item"><a class="nav__link" href="index.html">Home Page</a></li>
                  <li class="nav__item"><a class="nav__link" href="about.html">About</a></li>
                  <li class="nav__item"><a class="nav__link" href="catalog.html">Catalog</a></li>
                  <li class="nav__item"><a class="nav__link" href="contacts.html">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="some-font">test</div>
      <div class="content">
        <!--include ./404/demo-->
      </div>
      <footer class="footer footer__wrap">
        <div class="container">
          <div class="text-sm">some text</div>
        </div>
      </footer>
    </div>
    <script src="js/app.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>