.stepper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: px(50) px(30);
  position: relative;

  .text-center {
    text-align: center;
  }

  .hide {
    opacity: 0;
    pointer-events: none;
  }

  &__progress {
    height: px(5);
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--baseRed);
    transition: all .3s ease;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url("../img/content/groceries.jpg");
    transition: all .3s ease;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: px(500);
    min-height: px(500);
    border-radius: 8px;
    position: relative;
    z-index: 2;
    background-color: var(--baseWhite);
    box-shadow: 0 0 px(15) rgba($baseBlack, .1);
  }

  &__head {
    padding: px(10) px(20);
    border-bottom: px(1) solid rgba($baseBlack, .5);
  }

  &__head-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% + px(20));
    margin-inline: px(-10);
  }

  &__head-col {
    padding-inline: px(10);
  }

  &__prev-step-btn {
    transition: all .3s ease;

    &:hover,
    &:active {
      .icon-arrow-left {
        fill: var(--baseRed);
      }
    }

    &.disabled,
    &:disabled {
      opacity: .6;
      pointer-events: none;
    }

    .icon-arrow-left {
      width: px(18);
      min-width: px(18);
      height: px(15);
      fill: rgba($baseBlack, .5);
      transition: all .3s ease;
    }
  }

  &__body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__steps {
    flex: 1 0 auto;
    display: flex;
    height: 100%;
  }

  .counter {
    transition: all .3s ease;
  }

  .step {
    flex: 0 0 100%;
    width: 100%;

    &:not(.active) {
      display: none;
    }
  }
}
