.step {
  height: 100%;
  display: flex;
  flex-direction: column;

  &.invalid {
    .step__content {
      animation: shake .4s ease;
    }
  }

  &__pretitle {
    margin-bottom: px(20);
    font-weight: 700;
    font-size: px(24);
    color: var(--baseRed);

    &--with-icon {
      display: flex;
      align-items: flex-start;

      img {
        float: left;
        width: 100%;
        margin-top: px(-4);
        margin-right: px(10);
        max-width: px(36);
        object-fit: contain;
      }
    }
  }

  &__title {
    margin-bottom: px(20);
    font-weight: 700;
    font-size: px(32);
    color: var(--baseBlack);
  }

  &__buttons,
  &__content {
    padding: px(20);
  }

  &__label {
    cursor: pointer;

    input[type='checkbox'],
    input[type='radio'] {
      appearance: none;
    }

    input[type='checkbox']:checked ~ span {
      color: var(--baseWhite);
    }

    input[type='checkbox']:checked ~ .bg,
    input[type='radio']:checked ~ .bg {
      opacity: 1;
    }

    input[type='checkbox']:checked ~ .bg-primary,
    input[type='radio']:checked ~ .bg-primary {
      left: 50%;
      transform: translate(-50%, -50%) skewX(-15deg);
    }
  }

  &__content {
    flex: 1 0 auto;
    padding-block: px(40);
    border-bottom: px(1) solid rgba($baseBlack, .5);
    overflow-y: auto;
    max-height: px(390);
    padding-right: px(8);

    &::-webkit-scrollbar {
      width: px(4);
      height: px(4);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--baseRed);
      border-radius: px(4);
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(px(5));
  }
  25% {
    transform: translateX(px(-5));
  }
  50% {
    transform: translateX(px(5));
  }
  75% {
    transform: translateX(px(-5));
  }
  100% {
    transform: translateX(px(5));
  }
}
