.breadcrumbs {
  margin-block: px(20);
  padding: px(10) px(20);
  background-color: $baseWhite;
  border-radius: 10px;
  box-shadow: 0 0 px(20) rgba($baseBlack, 0.25);

  &__list {
    display: flex;
    width: calc(100% + px(20));
    margin-inline: px(-10);
  }

  &__item {
    padding-inline: px(10);
  }
}
