extends ../layouts/main

block variables
  - var title = 'Home Page'
  - var pageClass = 'error-page'

block content
  - var titlesMain = ['hello World in 3D', 'World Amazing Great Sands']

  //include ./404/demo

block script
