.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background-color: rgba($baseBlack, .5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__dialog {
    padding: 10px;
    max-width: 600px;
    width: 100%;
    position: relative;
    height: 300px;
    background-color: $baseWhite;
  }
}
