// Change just width and height of star size to proportions of rating size
$rating-star-amount: 5;
$rating-star-width: 40px;
$rating-star-height: 40px;
$rating-star-color: silver;
$rating-star-active-color: yellow;
$rating-active-transition: .2s ease;

// Counting proportions sizes of rating
$rating-body-width: $rating-star-width * $rating-star-amount;
$rating-body-height: $rating-star-height;

.rating {
  &__body {
    width: $rating-body-width;
    height: $rating-body-height;
    position: relative;
  }

  &__stars,
  &__active,
  &__radio-list {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__stars,
  &__active {
    pointer-events: none;
  }

  &__radio-item,
  .icon-star {
    width: $rating-star-width;
    min-width: $rating-star-width;
    height: $rating-star-height;
    min-height: $rating-star-height;
  }

  &__stars {
    z-index: 5;
    .icon-star {
      fill: $rating-star-color;
    }
  }

  &__active {
    overflow: hidden;
    z-index: 10;
    transition: width $rating-active-transition;

    .icon-star {
      fill: $rating-star-active-color;
    }
  }

  &__radio-list {
    z-index: 15;
  }

  &__radio-item {
    opacity: 0;
    cursor: pointer;
  }
}
