include ../../mixins

.accordion
  .accordion__item
    button.accordion__toggler(type="button" data-accordion='tab-1')
      span.accordion__toggler-name accordion toggler 1
      +icon('arrow-down')
    ul.accordion__list(data-accordion='tab-1')
      li.accordion__list-item
        a.accordion__link(href='#') link 1
      li.accordion__list-item
        a.accordion__link(href='#') link 2
      li.accordion__list-item
        a.accordion__link(href='#') link 3
      li.accordion__list-item
        a.accordion__link(href='#') link 4
      li.accordion__list-item
        a.accordion__link(href='#') link 5
  .accordion__item
    button.accordion__toggler(type="button" data-accordion='tab-2')
      span.accordion__toggler-name accordion toggler 2
      +icon('arrow-down')
    ul.accordion__list(data-accordion='tab-2')
      li.accordion__list-item
        a.accordion__link(href='#') link 1
      li.accordion__list-item
        a.accordion__link(href='#') link 2
      li.accordion__list-item
        a.accordion__link(href='#') link 3
      li.accordion__list-item
        a.accordion__link(href='#') link 4
      li.accordion__list-item
        a.accordion__link(href='#') link 5
  .accordion__item
    button.accordion__toggler(type="button" data-accordion='tab-3')
      span.accordion__toggler-name accordion toggler 3
      +icon('arrow-down')
    ul.accordion__list(data-accordion='tab-3')
      li.accordion__list-item
        a.accordion__link(href='#') link 1
      li.accordion__list-item
        a.accordion__link(href='#') link 2
      li.accordion__list-item
        a.accordion__link(href='#') link 3
      li.accordion__list-item
        a.accordion__link(href='#') link 4
      li.accordion__list-item
        a.accordion__link(href='#') link 5
  .accordion__item
    button.accordion__toggler(type="button" data-accordion='tab-4')
      span.accordion__toggler-name accordion toggler 4
      +icon('arrow-down')
    ul.accordion__list(data-accordion='tab-4')
      li.accordion__list-item
        a.accordion__link(href='#') link 1
      li.accordion__list-item
        a.accordion__link(href='#') link 2
      li.accordion__list-item
        a.accordion__link(href='#') link 3
      li.accordion__list-item
        a.accordion__link(href='#') link 4
      li.accordion__list-item
        a.accordion__link(href='#') link 5
