include ../../mixins

.cookies-permitions.show(data-cookies)
  .cookies-permitions__dialog
    .cookies-permitions__dialog-body This website or its third-party tools use cookies, which are required to achieve the purposes illustrated in the Cookie Policy. By using our website, you agree to our use of cookies
    .cookies-permitions__dialog-footer
      button(type="button" data-accept-cookies) Accept