include ../../mixins

.dropdown.js-dropdown(data-dropdown='prices-list')
  label
    select(name='' aria-label='Select')
      option(value='')
  button.dropdown__toggler.js-dropdown-toggler(type='button' )
    +icon('arrow-down')
    span.value 10
    +icon('arrow-down')
  ul.dropdown__list.active.js-dropdown-list
    li.dropdown__item
      button.dropdown__btn(type='button' data-dropdown-value='5') 5
    li.dropdown__item
      button.dropdown__btn(type='button' data-dropdown-value='10') 10
    li.dropdown__item
      button.dropdown__btn(type='button' data-dropdown-value='15') 15
