include ../../mixins

.rating.rating-set(data-rating="3.5")
  .rating__body
    .rating__stars
      +icon('star')
      +icon('star')
      +icon('star')
      +icon('star')
      +icon('star')
    .rating__active
      +icon('star')
      +icon('star')
      +icon('star')
      +icon('star')
      +icon('star')
    .rating__radio-list
      input.rating__radio-item(name='rating' value='1' type="radio")
      input.rating__radio-item(name='rating' value='2' type="radio")
      input.rating__radio-item(name='rating' value='3' type="radio")
      input.rating__radio-item(name='rating' value='4' type="radio")
      input.rating__radio-item(name='rating' value='5' type="radio")
