{% extends '../layouts/main.twig' %}
{% block variables %}
  {% set title = 'Index page' %}
  {% set pageClass = 'index-page' %}
{% endblock %}

{% block content %}
  <form novalidate action="#" method="POST" class="stepper">
    <div class="stepper__progress"></div>
    <div class="stepper__background"></div>
    <div class="stepper__container">
      {% include 'stepper/head.twig' %}
      <div class="stepper__body">
        <div class="stepper__steps">
          {% include 'stepper/intro.twig' %}
          {% include 'stepper/step-radios.twig' %}
          {% include 'stepper/step-checkboxes-icons.twig' %}
          {% include 'stepper/step-checkboxes.twig' %}
          {% include 'stepper/step-canvas-porgress.twig' with {canvasId: 'canvas_1'} %}
          {% include 'stepper/step-card-slider.twig' %}
          {% include 'stepper/step-checkboxes.twig' %}
          {% include 'stepper/step-checkboxes-icons.twig' %}
          {% include 'stepper/step-canvas-porgress.twig' with {canvasId: 'canvas_2'} %}
          {% include 'stepper/step-card-slider.twig' %}
          {% include 'stepper/step-checkboxes.twig' %}
          {% include 'stepper/step-checkboxes-icons.twig' %}
          {% include 'stepper/last-step.twig' %}
        </div>
      </div>
    </div>
  </form>
{% endblock %}
