{% extends '../layouts/main.twig' %}
{% block variables %}
  {% set title = 'Index page' %}
  {% set pageClass = 'index-page' %}
{% endblock %}

{% block content %}
  <p>
    {{ test }}
  </p>
{% endblock %}
