
<header class="header">
  <div class="header__wrap">
    <div class="container">
      <div class="header">
        <div class="header__menu">
          <!-- GLOBAL MENU ===================================================-->
          <!-- END GLOBAL MENU ===================================================-->
          <!-- Svg icon -->
          <!-- Image -->
          <!-- Breadcrumbs - "items" has to be array-->
          <ul class="nav">
            <li class="nav__item"><a class="nav__link" href="index.html">Home Page</a></li>
            <li class="nav__item"><a class="nav__link" href="about.html">About</a></li>
            <li class="nav__item"><a class="nav__link" href="catalog.html">Catalog</a></li>
            <li class="nav__item"><a class="nav__link" href="contacts.html">Contacts</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="some-font">test</div>