<div class="hero {{modClass}}">
  <div class="hero__bg">
    {{ macro.img('content/img', 'jpg', 'hero__bg') }}
  </div>
  <div class="container">
    <div class="hero__content">
      <h1 class='hero__title'>
        Hero section
      </h1>

      {% if heroSubtitle %}
        <h2 class='hero__subtitle'>
          {{ heroSubtitle }}
        </h2>
      {% endif %}
    </div>
  </div>
</div>
