extends ../layouts/main

block variables
  - var title = 'Home Page'
  - var pageClass = 'index-page'

block content
  - var titlesMain = ['hello World in 3D', 'World Amazing Great Sands']
  .output-img

  //include ./includes/demo

block script
