{% extends '../layouts/main.twig' %}
{% block variables %}
  {% set title = 'Index page' %}
  {% set pageClass = 'index-page' %}
{% endblock %}

{% block content %}
  <div class="container">
    {{
      macro.breadcrumbs(
        [
          {
            href: 'index.html',
            title: 'Home'
          },
          {
            href: 'test.html',
            title: 'Test'
          }
        ],
        'custom-class'
      )
    }}
  </div>

  {% include './preview/hero.twig' with {
    heroSubtitle: '<b>Lorem</b> ipsum dolor sit amet <i>consectetur</i> adipisicing elit.',
    modClass: 'index-hero'
  } %}

  {# How to use macro #}
  {{ macro.icon('star') }}
{% endblock %}
